<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Machine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Machine.Properties.Settings>
            <setting name="Machine_WebReference_MiCheckProcessLotServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MiCheckProcessLotServiceService</value>
            </setting>
            <setting name="Machine_WebReference1_MiCheckSFCStatusExServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MiCheckSFCStatusExServiceService</value>
            </setting>
            <setting name="Machine_MiBindSFCintoTrayServiceService_MiBindSFCintoTrayServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MiBindSFCintoTrayServiceService</value>
            </setting>
            <setting name="Machine_MachineIntegrationServiceService_MachineIntegrationServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MachineIntegrationServiceService</value>
            </setting>
            <setting name="Machine_CellTestIntegrationServiceService_CellTestIntegrationServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/CellTestIntegrationServiceService</value>
            </setting>
            <setting name="Machine_MiChangeResourceAndProcessLotServiceService_MiChangeResourceAndProcessLotServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MiChangeResourceAndProcessLotServiceService</value>
            </setting>
            <setting name="Machine_MiCloseNcAndProcessService_MiCloseNcAndProcessServiceService" serializeAs="String">
                <value>http://ndmesq051.CATLbattery.com:50000/atlmeswebservice/MiCloseNcAndProcessServiceService</value>
            </setting>
            <setting name="Machine_DataCollectForResourceFAIService_DataCollectForResourceFAIServiceService" serializeAs="String">
                <value>http://xpmesp021.catlfaw.com:50100/atlmeswebservice/DataCollectForResourceFAIServiceService</value>
            </setting>
            <setting name="Machine_MiMESIntegrationForParameterValueIssueServiceService_MiMESIntegrationForParameterValueIssueServiceService" serializeAs="String">
                <value>http://gacmes1p024.catlgac.cn:50400/atlmeswebservice/MiMESIntegrationForParameterValueIssueServiceService</value>
            </setting>
            <setting name="Machine_MiFindCustomAndSfcDataServiceService_MiFindCustomAndSfcDataServiceService" serializeAs="String">
                <value>http://gacmes1p022.catlgac.cn:50200/atlmeswebservice/MiFindCustomAndSfcDataServiceService</value>
            </setting>
        </Machine.Properties.Settings>
    </applicationSettings>
</configuration>
